<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="css/style.css" rel="stylesheet">
<script src="js/script.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div class="main">

	<div class="container">
		<center>
			<div class="middle">
				<div id="login">

					<form action="javascript:void(0);" method="get">

						<fieldset class="clearfix">

							<p><span class="fa fa-user"></span><input type="text" Placeholder="Usuário" required></p>
							<!-- JS because of IE support; better: placeholder="Username" -->
							<p><span class="fa fa-lock"></span><input type="password" Placeholder="Senha" required>
							</p> <!-- JS because of IE support; better: placeholder="Password" -->

							<div>
								<span style="width:50%; text-align:right;  display: inline-block;"><input type="submit"
										value="Entrar"></span>
							</div>

						</fieldset>
						<div class="clearfix"></div>
					</form>

					<div class="clearfix"></div>

				</div> <!-- end login -->
				<div class="logo">Gramatta

					<div class="clearfix"></div>
				</div>

			</div>
		</center>
	</div>

</div>